{
    "plugins": [
      ["import", {
        "libraryName": "vant",
        "style": true
      }],
      [
        "component",
        {
          "libraryName": "element-ui",
          "styleLibraryName": "theme-chalk"
        }
      ]
    ]
  }